.Carousel {
    position: sticky;
    text-align: center;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(255, 255, 255);
}

footer {
    text-align: center;
    bottom: 0;
    z-index: auto;
    width: 100%;
    height: 3.5rem;
    background-color: rgb(214, 203, 203);
  }

svg {
    height: 30px;
    cursor: pointer;
}